* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #CAF0F8;
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    color: rgba(0, 0, 0, 0.92);
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ADE8F4;
    border-radius: 25px;
    width: 90%;
    height: 90%;
}

.menu {
    position: relative;
    background-color: #48cae4;
    width: 140px;
    padding: 10px 25px;
    border-radius: 5px;
    margin: 0 15px;
    letter-spacing: 1.1px;
    cursor: pointer;
    border: none;
    user-select: none;
    box-shadow: 0 2px 0 #0b2b448c;
}

summary, summary:focus, summary:active {
    outline: none !important;
    position: relative;
}

.menu ul {
    background-color: #00b4d8;
    cursor: default;
    position: absolute;
    top: 50px;
    left: -3.5px;
    padding: 5px;
    width: 105%;
}

.menu ul li {
    list-style-type: none;
    user-select: none;
    border: none;
    
}

.menu ul li:hover {
    cursor: pointer;
    background-color: #ADE8F4;
    padding: 0 5px;
}

.container-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 95%;
    height: 45%;
}

.ocean {
    display: table;
    background-color: #48CAE4;
    width: 360px;
    height: 360px;
    padding: 25px;
    border-radius: 25px;
}

#ocean-one {
    margin-right: 45px;
}

#ocean-two {
    margin-right: 45px;
}

.player-nickname {
    font-size: 35px;
    padding: 10px;
    user-select: none; 
}

.nickname-and-timer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timer {
    display: none;
}

.row {
    display: table-row;
    width: 100%;
}

.cell {
    display: table-cell;
    text-align: center;
    padding: 2px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    white-space: pre;
    height: 10%;
    width: 10%;
    cursor: cell;
    user-select: none;
}

.cell:hover {
    background-color: #ADE8F4;
    border: 1px solid black;
}

.info {
    user-select: none;
}

.roulette {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background:linear-gradient(90deg, #9cecfb 0%,#65c7f7 50%,#0052d4 100% );
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    display: none;
}

.input-container___inner input {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-weight: bold;
}

.versus {
    font-size: 0.6em;
    font-weight: 500;
    margin: 5px 0;
}

#nickname-sumbit___button {
    margin-top: 8px;
    padding: 1px 10px;
    background-color: transparent;
    border: 3px solid black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.3px;
    font-size: 0.8em;
    transition: .25s all;
}

#nickname-sumbit___button:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.555);
}

.nickname-container span {
    font-size: 28px;
}

#change-nickname {
    top: 0;
    left: 0;
    position: absolute;
    margin: 10px;
    cursor: pointer;
}

.pre-game___container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background:linear-gradient(90deg, #9cecfb 0%,#65c7f7 50%,#0052d4 100% );
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    /* display: none; */
}

.coin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vs {
    font-size: 0.5em;
}

.coin {
    position: relative;
    perspective: 2000px;
    width: 100px;
    height: 100px;
    margin: 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.spinning {
    animation: spinning .9s linear infinite;
}

@keyframes spinning {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}

.front, .back{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 0;
    background-color: rgba(245, 245, 245, 0.555);
}

.front{
    animation: front-rotation 5s infinite;
    border: 2px solid black;
}

.back{
    animation: back-rotation 5s infinite;
    border: 2px solid black;
}
  
@keyframes front-rotation{
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes back-rotation{
    from {
        transform: rotateY(180deg);
    }
    to {
        transform: rotateY(540deg);
    }
}

.start-game___button {
    margin-top: 8px;
    padding: 1px 10px;
    background-color: transparent;
    border: 3px solid black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.3px;
    font-size: 0.8em;
    transition: .25s all;
    background-color: rgba(245, 245, 245, 0.555);
}

.start-game___button:hover {
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.755);
}

#player-one {
    display: none;
}

#player-two {
    display: none;
}

.oceans {
    display: inline-flex;
}

.error {
    transition: all 0.25s;
    color: rgb(155, 1, 1);
    margin-top: 5px;
    font-size: 16px;
}

.close-form___button {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    transition: all .25s;
}

.close-form___button:hover {
    transform: scale(1.05);
}

.placing-container {
    background-color: rgb(0,0,0,0.25);
    padding: 25px;
    border-radius: 25px;
    margin-top: 55px;
    display: none;
    box-shadow: 0 3px 0 #0b2b44b4;
}

.placing-container label, .placing-container input {
    cursor: pointer;
    margin: 5px 0;
}

.placing-container label:hover {
    background-color: rgb(0,0,0,0.35);
}

.active-ocean {
    animation: blinking 3s ease infinite alternate-reverse;
}

@keyframes blinking {
    from {
        border: 2px solid transparent;
    }

    to {
        border: 2px solid black;
    }
}

.modal-error {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text___container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 400px;
    height: 200px;
    border-radius: 25px;
    background-color: #0096c7;
    box-shadow: 0 5px 0 #0b2b44;
}

.error-text___container div {
    margin: 20px;
    cursor: pointer;
    transition: .25s all;
}

.error-text___container button,
.error-text___container span {
    align-self: center;
}

.error-text___container button {
    margin: 25px;
    padding: 1px 10px;
    background-color: black;
    border: 3px solid black;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.3px;
    font-size: 0.85em;
    transition: .25s all;
    color: whitesmoke;
}


.error-text___container button:hover, .error-text___container div:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.error-text___container span {
    font-size: 1.5em;
}